$fontSize: 14px !default;
$fontFamily: "Roboto", "Helvetica Neue", sans-serif !default;
$lineHeight: 18px !default;
$textColor: #424242 !default;
$textSecondaryColor: #757575 !default;
$borderRadius: 3px !default;
$dividerColor: #eaeaea !default;
$dividerLightColor: #f8f8f8 !default;
$iconWidth: 20px !default;
$iconHeight: 20px !default;
$iconFontSize: 20px !default;
$grayBgColor: #757575 !default;
$hoverBgColor: #e8e8e8 !default;
$hoverTextColor: #000000 !default;
$letterSpacing: .25px !default;
$transitionDuration: .2s !default;
$tabletBreakpoint: 991px !default;
$phoneBreakpoint: 576px !default;

/* Layout */
$bodyBgColor: #fcfbfb !default;
$menuItemHoverBgColor: #e8e8e8 !default;
$menuitemColor: #757575 !default;
$footerBgColor: #ffffff !default;
$inputBorderColor:#bdbdbd;
$listItemPadding: .571em .857em !default;

/* Topbar */
$topbarSubmenuBgColor: #f7f7f7 !default;
$topbarSubmenuItemHoverBgColor: #e3e3e3 !default;